{% extends "layout.html" %}
{% block content %}
<h2> Admin: {{current_user.first_name}} {{current_user.last_name}} </h2>

<div class="container-fluid">
    <div class="row">

        <div class="col-6">
            <div class="row">
                <article class="media content-section">
                    <div class="media-body">
                        <h2>Requests</h2>
                    </div>
                </article>
            </div>
            <div class="scroll-snap">
                {%for tutor in tutors%}
                <form method="POST" action="">
                    <article id="tutor_profile" class="media content-section" onclick="open_tutor_profile()">
                        <div class="scroll-snap-item">
                            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/default.png') }}" alt="...">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">{{tutor.first_name}} {{tutor.last_name}}</h6>
                            </div>
                        </div>
                    </article>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    function open_tutor_profile() {
        document.getElementById()
    }
</script>

<!-- {% for request in requests %}

<form method="POST" action="">
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">{{ request.email }}</a>
            </div>
            <h2><a class="article-title">{{ request.first_name }} {{ request.last_name }}</a></h2>

            <div class="row justify-content-md-center">
                <div class="col">
                    <select name="selected_tutor" method="GET" data-live-search="true">
                        <option value="0, 0">Select Tutor</option>
                    {% for tutor in request.tutors %}
                        <option value="{{ tutor.id }}, {{request.id}}">{{ tutor.first_name }} {{tutor.last_name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col col-auto">
                    <input type="submit" name="validate" value="Validate" class="btn btn-primary">
                </div>
            </div>
        </div>

    </article>
</form>

{% endfor %} -->

{% endblock content %}
