<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<body>
  <header class="site-header">
    <nav class="navbar">
      <div class="navbar-container">
        <a href={{url_for('request_tutor')}} id="navbar-logo">Tutoring Website</a>
        <div class="navbar-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar-menu">
          <li class="navbar-item">
            <a href={{url_for('request_tutor')}} class="navbar-link">Request</a>
          </li>
          {% if current_user.is_authenticated %}
          {% if current_user.is_admin %}
          <li class="navbar-item">
            <a href={{url_for('admin')}} class="navbar-link" id="admin-page">Admin</a>
          </li>
          <li class="navbar-item">
            <a href={{url_for('tutor_view')}} class="navbar-link" id="tutors-page">Tutors</a>
          </li>
          {% else %}
          <li class="navbar-item">
            <a href={{url_for('test')}} class="navbar-link" id="tutor-page">Tutor</a>
          </li>
          {% endif %}
          <li class="navbar-item">
            <a href={{url_for('logout')}} class="navbar-link" id="logout-page">Logout</a>
          </li>
          {% else %}
          <li class="navbar-item">
            <a href={{url_for('register')}} class="navbar-link" id="signup-page">Sign Up</a>
          </li>
          <li class="navbar-item">
            <a href={{url_for('login')}} class="navbar-link" id="login-page">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header><!-- /header -->

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for catergory, message in messages %}
              <div>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
