{% extends "layout.html" %}
{% block content %}
<h1> {{current_user.first_name}} {{current_user.last_name}} </h1>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="">
            <input type="submit" name="select" value="Select" class="btn btn-primary">
            {% for request in pending_requests %}
                <article class="media content-section">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ request.email }}</a>
                    </div>
                    <h2><a class="article-title">{{ request.first_name }} {{ request.last_name }}</a></h2>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="selected_requests" value="{{ request.id }}" id="{{ request.id }}">
                        <label class="form-check-label" for="{{ request.id }}"></label>
                    </div>
                  </div>
                </article>
            {% endfor %}
        </form>
    </div>
    <div class="col-md-6">
        <form method="POST" action="">
            <input type="submit" name="delete" value="Delete" class="btn btn-primary">
            {% for request in accepted_requests %}
                <article class="media content-section">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ request.email }}</a>
                    </div>
                    <h2><a class="article-title">{{ request.first_name }} {{ request.last_name }}</a></h2>
                  </div>
                  <input type="checkbox" name="selected_requests" value="{{ request.id }}">
                </article>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock content %}
