@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;

}

body {
    background: rgb(248, 248, 255);
}


/*Navigation Bar*/

.navbar {
    background: rgb(176, 196, 222);
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background-color: rgb(255, 255, 255);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    height: 80px;
}

.navbar-link {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;

}

.navbar-link:hover {
    color: rgb(0, 0, 255);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: center;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        background: rgb(176, 196, 222);
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        height: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
        pointer-events: none;
    }

    .navbar-menu.active {
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
        opacity: 1;
        z-index: -1;
        transform: translateY(0);
        pointer-events: all;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }
}


/*Request Tutoring*/
#tutor-request-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

#header-item0.tutor-request-heading {
    font-size: 4.5em;
}
#header-item1.tutor-request-heading {
    font-size: 4em;
    margin-bottom: 24px;
}

.field-group {
    border:2px solid;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 24px;
}
